@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Urbanist:wght@300&display=swap');

*{
  font-family: 'Belanosima', sans-serif;

}

html {
  font-size: 18px; 
}

body {

  color: #111111; }

.bienvenidos {
  background: url("../page fotos/banner-image.JPG") no-repeat center top;
  
  color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #111111;
  color: #fff;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;

}


.encabezado.fondo-menu {
  background: #ffffff;
  padding: 1rem 0; 

}
#qn{
  margin-top: 50px;

}

/* Estilos para la barra de información */
.info-bar {

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para la información de contacto */
.contact-info {
  margin: 0;
}




#menuserv h2{
  margin-top: 20px;
  margin-bottom: 15px;
}

#galeria h2{
  margin-top: 20px;
  margin-bottom: 15px;
}




#imgarticle img{
  border-radius: 10px;
}

/* Estilos adicionales para ajustar la posición de las imágenes */

#imageqn{
  margin-top: 20%;

  width: 100%;
  border-radius: 10px;

}

.pclassqs{
  margin-bottom: 50px;
}

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

.boton-buscar, .boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff; }

.boton-buscar:focus, .boton-menu:focus {
  outline: 0; }

.boton-buscar {
  margin-left: auto;
  margin-right: .8rem; }

#bloque-buscar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #025939;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 1rem; }

#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #0aa46c; }

.texto-encabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.texto-encabezado .display-4 {
  margin-top: 3rem; }

.texto-encabezado .display-4 .btn-primary {
  margin-top: 1rem; }

.btn-primary {
  color: #fff;
  background-color: #025939;
  border-color: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: #009500;
  border-color: transparent; }

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out  infinite;
          animation: flecha-animada 2s ease-in-out  infinite; }

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.agencia {
  padding: 0;
  color: #fff;
}

#agencia{
  padding: 0;
  padding-bottom: 500px;

  background: #025939;
  color: #fff;


}

#agencia p{
  font-size: 14px;
  color: #fff;


}



@media screen and (max-width: 768px) {
  .alianzas-images {
    flex-direction: column;
  }
}

.servicios {
  background: #025939;
  background-size: cover;
  background-attachment: fixed !important;
  color: #fff;

 }



.servicios article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0; }

.servicios img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1rem; }

.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.servicios h3 a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.servicios h3 a::after {
  content: "\f054";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 2rem;
  margin-left: 1rem;
  opacity: .5;
  position: relative;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.servicios h3 a:hover::after {
  left: -.5rem;
  opacity: 1;
  color: #12AFAF; }

.ultimos-proyectos a {
  text-decoration: none; }

.ultimos-proyectos a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #111111; }

.ultimos-proyectos .container {
  padding-left: 0;
  padding-right: 0; }

.ultimos-proyectos .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .3rem 0; }

.ultimos-proyectos .container .owl-carousel .owl-nav .owl-prev,
.ultimos-proyectos .container .owl-carousel .owl-nav .owl-next {
  font-size: 3rem;
  margin: 0 .5rem;
  color: #03734ad9;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.ultimos-proyectos .container .owl-carousel .owl-nav .owl-prev:hover,
.ultimos-proyectos .container .owl-carousel .owl-nav .owl-next:hover {
  color: #025939; }

.piedepagina {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: .9rem; }

.piedepagina .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }


.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #03734A;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #fff; }

.paginas-internas .bienvenidos {
  height: 50vh; }

.paginas-internas .ruta {
  background: #12AFAF;
  color: #fff; }

.paginas-internas .ruta a {
  color: #fff;
  text-decoration: underline; }

.paginas-internas .ruta a:hover {
  text-decoration: none; }

.paginas-internas .card-header {
  background: #12AFAF;
  color: #fff;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.paginas-internas .card-header:hover {
  background: #009500; }

.paginas-internas .card-header .mb-0 .btn {
  font-size: 1.2rem; }

.paginas-internas .card-header .mb-0 a {
  display: block;
  text-decoration: none; }

.paginas-internas .lista-servicios {
  background: #009500; }

.paginas-internas .lista-servicios .item-servicios {
  background: #fff;
  text-align: center;
  border: 5px solid #057705;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem; }

.paginas-internas .lista-servicios .item-servicios .fa {
  font-size: 6rem;
  color: #12af4e;
  margin-bottom: 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.paginas-internas .lista-servicios .item-servicios:hover .fa {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

@media (min-width: 768px) {
  
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #0aa46c;
    border-bottom: 4px solid; }

  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  #bloque-buscar {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    width: 20rem;
    right: 3rem;
    top: 2.8rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  /*Seccion servicios*/
  .servicios article {
    margin: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }

  .servicios img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .servicios article:hover img {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

  .servicios h3 a::after {
    display: none; }

  .servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .servicios h3 a {
    display: block;
    width: 100%; }

  .servicios p {
    width: 100%; }

  .servicios .btn-light {
    margin-top: auto; }

  /*Pagina servicios*/
  .paginas-internas .lista-servicios .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .paginas-internas .lista-servicios .item-servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .paginas-internas .lista-servicios .item-servicios .btn-primary {
    margin-top: auto; } }
@media (min-width: 992px) {


  html {
    font-size: 16px; }

  .bienvenidos {
    background: url("../page fotos/banner-image.JPG") no-repeat center top;
    background-size: cover; }

  .tu-mejor-eleccion ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 7rem; }

  .tu-mejor-eleccion ul li .fa,
  .tu-mejor-eleccion ul li .far {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-right: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .tu-mejor-eleccion ul li:hover .fa,
  .tu-mejor-eleccion ul li:hover .far {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    background: #12AFAF; }

  .contenedor-eleccion {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0px; }

  .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    margin-top: 0;
    font-size: 1rem; }

  .tu-mejor-eleccion ul:first-child .fa,
  .tu-mejor-eleccion ul:first-child .far {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 1rem;
    margin-right: 0; }

  .tu-mejor-eleccion ul li p {
    font-size: .85rem; }

  .servicios {

    background-size: cover; } }

/*# sourceMappingURL=estilos.css.map */

#qnqq{
  text-align: justify;
  
}



html{
	scroll-behavior: smooth;

}


body {
	margin: 0;
	padding: 0;
}


.Biblioteca{
  background-color:rgb(220, 236, 251);

}

.alianzas-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center; /* Centrar horizontalmente las imágenes cuando estén en una sola columna */
  }
  
  /* Estilos para cada imagen dentro del contenedor */
  .alianzas-images img {
	max-width: 100%;
	height: auto;
	margin: 10px;
  }


.content-block {
	display: flex;
	align-items: center;
	padding: 20px;
	margin-top: 100px; 
  }
  
  
  .content-left {
	flex: 1;
	margin-right: 20px;
  }
  
  .content-left h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .content-right {
	flex: 1;
  }
  
  .content-right img {
	max-width: 100%;
	height: auto;
  }



form{
	padding: 2rem 3rem;
	text-align: center;
	color: #fff;
	border: 3px solid #fff;
	box-shadow: 0px 0px 25px #222;
	backdrop-filter: blur(6px);
	border-radius: 10px;
	
}



form input {
  background-color: aliceblue;
	margin-top: 6px;
  border-radius: 10px;
  border-style: none;
  
}

  .content-block {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify; 
  justify-content: center;
  margin-left: 10%;
}
.content-right{
	margin-right: 10%;
}

.content-right img{
	border-radius: 30px;
}


.content-left h2,
.content-left p {
  text-align: center;
}

.content-left p{
	justify-content: baseline;
}

  
  .content-block__left,
  .content-block__right {
	width: 50%;
  }
  
  .content-block__left {
	text-align: center;
  }
  
  .content-block__right {
	text-align: center;
  }
  
  .content-block__right img {
	max-width: 100%;
	height: auto;
  }
  


.content-block {
	display: flex;
	align-items: center;
	padding: 20px;
	margin-top: 100px; /* Ajusta el valor según sea necesario */
	
  }
  



  .content-block p{
	font-size: 22px;
  }


  .content-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: justify;
	opacity: 0; /* Inicialmente, establece la opacidad en 0 */
	animation: fade-in 1s ease-in-out forwards; /* Animación fade-in */
  }
  
  .content-left h2,
  .content-left p {
	text-align: center;
  }
  
  .content-right {
	flex: 1;
	opacity: 0; /* Inicialmente, establece la opacidad en 0 */
	animation: fade-in 1s ease-in-out forwards; /* Animación fade-in */
  }
  
  @keyframes fade-in {
	0% {
	  opacity: 0;
	  transform: translateY(20px); /* Desplazamiento hacia abajo */
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }




  .scroll-section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .scroll-content {
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .scroll-content.show {
	opacity: 1;
	transform: translateY(0);
  }
  




  .banner {
    margin-top: 3%;
  }
  
  .banner img {
    width: 100%;
	height: 20%;
  }
  



  
  .alianzas-images {
	display: flex;
	justify-content: center; 
	gap: 20px; 
  }
  
  .alianzas-images img {
	max-width: 100px; 
	max-height: 50px; 
  }
  
  
  .alianzas{
    background-color:rgb(220, 236, 251);
    padding: 20px; 
  }
  
  .alianzas h2{
	text-align: center;
  }
  .Biblioteca{
    background-color:rgb(255, 255, 255);
    padding: 20px; 
  }
  .Biblioteca h2{
    text-align: center;
    padding-top: 20px;
    }
  .Biblioteca img{
    width: 100%;
  }
  
    
    
  




  .menu-section {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

  }
  
  .menu-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  
  .menu-item {
	flex-basis: 30%;
  }
  
  .menu-content {
	background-color: #000000;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin-right: 10%;
	margin-left: 10%;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	position: relative;
	overflow: hidden;
  }
  

  
  .menu-content:hover::before {
	opacity: 1;
  }
  
  .menu-item img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 10px;
  }
  
  .menu-item h3 {
	margin-bottom: 10px;
  }
  
  .menu-item p {
	margin-bottom: 10px;
  }
  
  .menu-button {
	padding: 10px 20px;
	background-color: #3aa74c;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  


  .menu-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -1;
	opacity: 1;
  }
  

.menu-section{
	background-color: #f2f2f2;
}



.adm a{
	background-color: #92ffa47c;

	color: #000;
	padding: 10px;
	border-radius: 10px;
}


.adm a:hover{
	background-color: #64ec7be0;
	color: #000;
	padding: 10px;

}


.open-pf1{
	font-size: 10px;
}


.menu-section h2{
	top: 1000px;
}


.textn1{
	font-size: 21px;
}

#info-box {

	width: 100%;
	height: 60px;
	background: #025939;
	padding: 20px;
    text-align-last: right;
	z-index: 9999;

  }

  #info-box p {
    margin-top: 0px;
    margin-bottom: 10px;
    align-items: flex-start; 
    justify-content: right;

    font-size: 15px;


  }

  #info-box p a:hover{
    color: rgb(46, 226, 43);
	font-weight: lighter;
  }

  #info-box p a{
	color: #37a74c;

  }


